body {
  background-color: #333;
  color: #fff;
}

.navbar-main {
  border-radius: 0px;
}

.thumbnail-container {
  margin-bottom: 15px;
  text-align: center;
}

.thumbnail {
  margin: 0;
  padding: 0;
  border: 15px solid #fff;
  border-radius: 0px;
  display: inline-block;

  & > img {
    max-height: 200px;
  }
}
